grant codebase "file:C:\Users\Yang\Desktop\INF1406\INF1406-Programacao-Distribuida-Concorrente\RMIHelloServer\bin\example\hello"{
	permission java.security.AllPermission;
};